<app-title-page [content]="title"></app-title-page>
<div class="container">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Thông Tin Tài Khoản</th>
      <th scope="col"></th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Name</td>
      <td>{{userInfor.name}}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Email</td>
      <td>{{userInfor.email}}</td>
    </tr>

    </tbody>
  </table>
</div>
