<app-title-page [content]="title"></app-title-page>
<div class="container">
  <div class="container-fluid row">
    <div class="col-3">
      <app-menu-left></app-menu-left>
    </div>
    <div class="col-9" style="margin-bottom: 10px">
      <!-- Default input -->
      <label for="exampleForm2" style="margin-bottom: 10px">
        Nhập tên Playlist của bạn:
      </label>
      <input type="text" id="exampleForm2" class="form-control"
             placeholder="Nhập tên playlist...">
      <br>
      <button type="button" class="btn btn-primary">Tạo PLaylist</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
