<app-title-page [content]="title"></app-title-page>
<hr>

<div class="container">
  <div class="row" *ngIf="singers">
    <div class="col-3">
      <div class="text-center">
        <img [src]=singers.singerAvatar alt="" class="avatar">
      </div>
      <div class="offset-4 mt-5">
        <a href="#" class="btn btn-outline-info">Follow</a>
      </div>
    </div>
    <div class="col-9">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Tên Ca Sĩ
              </button>
            </h2>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              {{singers.nameSinger}}
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Information
              </button>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
              {{singers.information}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<hr>
<div class="container">
  <h3>Bài Hát <i class="fas fa-angle-right"></i></h3>
  <hr>
  <div class="row" *ngIf="singers">
    <div class="col" *ngFor="let songs of singers.songs">
      <div class="text-center" [routerLink]="['/home/song/play',songs.id]" >
        <img [src]=songs.avatarUrl alt="" class="avatar-music">
      </div>
      <div class="mt-2 text-center">
        <a routerLink="#">{{songs.nameSong}}</a>
      </div>
    </div>
  </div>
</div>


<hr>
<div class="container">
  <h3>Ca Sĩ Liên Quan <i class="fas fa-angle-right"></i></h3>
  <hr>
  <div class="row">
    <div class="col">
      <div class="text-center">
        <img src="./assets/img/bg-img/son-tung.jpg" alt="" class="avatar">
      </div>
      <div class="mt-2 text-center">
        <a routerLink="#">Sơn Tùng MTP</a>
      </div>
    </div>
    <div class="col">
      <div class="text-center">
        <img src="./assets/img/bg-img/ha-anh-tuan.jpg" alt="" class="avatar">
      </div>
      <div class="mt-2 text-center">
        <a routerLink="#">Hà Anh Tuấn</a>
      </div>
    </div>
    <div class="col">
      <div class="text-center">
        <img src="./assets/img/bg-img/my-tam.jpg" alt="" class="avatar">
      </div>
      <div class="mt-2 text-center">
        <a routerLink="#">Mỹ Tâm</a>
      </div>
    </div>
    <div class="col">
      <div class="text-center">
        <img src="./assets/img/bg-img/link-ka.jpeg" alt="" class="avatar">
      </div>
      <div class="mt-2 text-center">
        <a routerLink="#">Linh Ka</a>
      </div>
    </div>
    <div class="col">
      <div class="text-center">
        <img src="./assets/img/bg-img/bich-phuong.jpg" alt="" class="avatar">
      </div>
      <div class="mt-2 text-center">
        <a routerLink="#">Bích Phương</a>
      </div>
    </div>
  </div>
</div>

<hr>
<app-footer></app-footer>
