<!--&lt;!&ndash; ##### Header Area Start ##### &ndash;&gt;-->
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <header class="header-area">-->
<!--      &lt;!&ndash; Navbar Area &ndash;&gt;-->
<!--      <div class="oneMusic-main-menu">-->
<!--        <div class="classy-nav-container breakpoint-off">-->
<!--          <div class="container">-->
<!--            &lt;!&ndash; Menu &ndash;&gt;-->
<!--            <nav class="classy-navbar justify-content-between" id="oneMusicNav">-->

<!--              &lt;!&ndash; Nav brand &ndash;&gt;-->
<!--              <a routerLink="home" class="nav-brand ml-50">-->
<!--                <img src="./assets/img/core-img/logo-box.png">-->
<!--              </a>-->

<!--              &lt;!&ndash; Navbar Toggler &ndash;&gt;-->
<!--              <div class="classy-navbar-toggler">-->
<!--                <span class="navbarToggler"><span></span><span></span><span></span></span>-->
<!--              </div>-->

<!--              &lt;!&ndash; Menu &ndash;&gt;-->
<!--              <div class="classy-menu">-->
<!--                &lt;!&ndash; Close Button &ndash;&gt;-->
<!--                <div class="classycloseIcon">-->
<!--                  <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Nav Start &ndash;&gt;-->
<!--                <div class="classynav">-->
<!--                  <ul>-->
<!--                    <input class="form-control" type="text" placeholder="  Tìm tên bài hát..."-->
<!--                           aria-label="Search">-->
<!--                    <li><a routerLink="home" style="color: #0b0b0b">Trang chủ</a></li>-->
<!--                    <li><a routerLink="#" style="color: #0b0b0b">Sự kiện</a></li>-->
<!--                    <li><a routerLink="#" style="color: #0b0b0b">My Albums</a></li>-->
<!--                    <li><a routerLink="#" style="color: #0b0b0b">Singer</a></li>-->
<!--&lt;!&ndash;                    <li *ngIf="authority"><a routerLink="#">My Albums</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li *ngIf="authority"><a routerLink="#">My Profile</a></li>&ndash;&gt;-->
<!--                    <li><a href="#" style="color: #0b0b0b">Liên hệ</a></li>-->
<!--                  </ul>-->
<!--                  <div>-->
<!--                  </div>-->

<!--                  &lt;!&ndash; Add Song &ndash;&gt;-->
<!--                  <div class="ml-30 btn btn-primary" style="padding: 6px;" *ngIf="authority">-->
<!--                    <a routerLink="create-house" id="addSongBtn">Thêm bài hát</a>-->
<!--                  </div>-->

<!--                  &lt;!&ndash; Login/Register & Cart Button &ndash;&gt;-->
<!--                  <div class="login-register-cart-button d-flex align-items-center">-->

<!--                    &lt;!&ndash; Login/Register &ndash;&gt;-->
<!--                    <div class="ml-20" *ngIf="authority">-->
<!--                      <img style="width: 50px; height: 50px" src="https://ebook.vn/images/default.jpg">-->
<!--                    </div>-->
<!--                    <div class="login-register-btn" *ngIf="!authority">-->
<!--                      <a routerLink="auth/login" id="loginBtn" style="color: #0b0b0b">Đăng nhập</a>-->
<!--                    </div>-->
<!--                    <div class="mr-2 ml-2" style="color: black">/</div>-->
<!--                    <div class="login-register-btn" *ngIf="!authority">-->
<!--                      <a routerLink="signup" id="logoutBtn" style="color: #0b0b0b">Đăng ký</a>-->
<!--                    </div>-->
<!--                    <div class="login-register-btn" *ngIf="authority">-->
<!--                      <a (click)="logout()" style="color: #0b0b0b">Đăng xuất</a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Nav End &ndash;&gt;-->
<!--              </div>-->
<!--            </nav>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </header>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash; ##### Header Area End ##### &ndash;&gt;-->

<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a routerLink="home" class="navbar-brand" style="font-size: 30px; color: orange; font-weight: bold">
    <fa name="music" animation="spin"></fa>
    MusicHouse
    <fa name="music" animation="spin"></fa>
  </a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse"
  style="font-size: 16px">
    <div class="navbar-nav">
      <a routerLink="home" class="nav-item nav-link active">Trang chủ</a>
      <a href="#" class="nav-item nav-link">My Profile</a>
      <a href="#" class="nav-item nav-link">My Albums</a>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Messages</a>
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item">Inbox</a>
          <a href="#" class="dropdown-item">Sent</a>
          <a href="#" class="dropdown-item">Drafts</a>
        </div>
      </div>
      <a href="#" class="nav-item nav-link">Liên hệ</a>
    </div>
    <form class="form-inline">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Tìm kiếm bài hát ...">
        <div class="input-group-append">
          <button type="button" class="btn btn-secondary"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </form>
    <div class="navbar-nav">
      <a routerLink="auth/login" class="nav-item nav-link btn btn-outline-primary" *ngIf="!authority">
        Đăng Nhập
      </a>
      <a routerLink="signup" class="nav-item nav-link" *ngIf="!authority">
        Đăng Ký
      </a>
      <div class="nav-item dropdown btn btn-outline-info dropleft" *ngIf="authority">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
          User Name
        </a>
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item">Profile</a>
          <a href="#" class="dropdown-item">Change Information</a>
          <a href="#" class="dropdown-item">Change Password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Đăng Xuất</a>
        </div>
      </div>
    </div>
  </div>
</nav>
