<div class="card-header">
  <h4>Danh Mục</h4>
</div>
<div class="dropdown-divider"></div>
<div class="list-group">
  <a routerLink="/list-song" class="list-group-item list-group-item-success">
    <i class="fas fa-list"></i> Danh sách bài hát
  </a>
  <a routerLink="/list-playlist" class="list-group-item list-group-item-success">
    <i class="fas fa-list"></i> Danh sách Playlist
  </a>
  <a routerLink="/list-singer-users" class="list-group-item list-group-item-success">
    <i class="fas fa-list"></i> Danh sách Ca Sĩ
  </a>
  <div class="dropdown-divider"></div>
  <a routerLink="/create-song" class="list-group-item list-group-item-warning">
    <i class="far fa-plus-square"></i> Tạo bài hát mới
  </a>
  <a routerLink="/create-playlist" class="list-group-item list-group-item-warning">
    <i class="far fa-plus-square"></i> Tạo playlist mới
  </a>
  <a routerLink="/create-singer" class="list-group-item list-group-item-warning">
    <i class="far fa-plus-square"></i> Tạo ca sĩ mới
  </a>
</div>
