<!-- ##### Header Area Start ##### -->
<div class="container">
  <div class="row">
    <header class="header-area">
      <!-- Navbar Area -->
      <div class="oneMusic-main-menu">
        <div class="classy-nav-container breakpoint-off">
          <div class="container">
            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="oneMusicNav">

              <!-- Nav brand -->
              <a routerLink="home" class="nav-brand ml-50">
                <img src="./assets/img/core-img/logo-box.png">
              </a>

              <!-- Navbar Toggler -->
              <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
              </div>

              <!-- Menu -->
              <div class="classy-menu">
                <!-- Close Button -->
                <div class="classycloseIcon">
                  <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>

                <!-- Nav Start -->
                <div class="classynav">
                  <ul>
                    <input class="form-control" type="text" placeholder="  Tìm tên bài hát..."
                           aria-label="Search">
                    <li><a routerLink="home" style="color: #0b0b0b">Trang chủ</a></li>
                    <li><a routerLink="#" style="color: #0b0b0b">Sự kiện</a></li>
                    <li><a routerLink="#" style="color: #0b0b0b">Music</a></li>
                    <li><a routerLink="#" style="color: #0b0b0b">Singer</a></li>
                    <li *ngIf="authority"><a routerLink="#">My Albums</a></li>
                    <li *ngIf="authority"><a routerLink="#">My Profile</a></li>
                    <li><a routerLink="#" style="color: #0b0b0b">Tin tức</a>
                    <li><a href="#" style="color: #0b0b0b">Liên hệ</a></li>
                  </ul>
                  <div>

                  </div>

                  <!-- Login/Register & Cart Button -->
                  <div class="login-register-cart-button d-flex align-items-center">
                    <!-- Login/Register -->
                    <div class="login-register-btn" *ngIf="!authority">
                      <a routerLink="auth/login" id="loginBtn" style="color: #0b0b0b">Đăng nhập</a>
                    </div>
                    <div class="mr-2 ml-2" style="color: black">/</div>
                    <div class="login-register-btn" *ngIf="!authority">
                      <a routerLink="signup" id="logoutBtn" style="color: #0b0b0b">Đăng ký</a>
                    </div>
                    <div class="login-register-btn" *ngIf="authority">
                      <a routerLink="auth/login" style="color: #0b0b0b">Đăng xuất</a>
                    </div>
                  </div>
                </div>
                <!-- Nav End -->
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>

<!-- ##### Header Area End ##### -->
