<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
  <div class="container">
    <div class="row d-flex flex-wrap align-items-center mt-30">
      <div class="col-12 col-md-4">
        <a routerLink="home"
           style="font-size: 40px; color: darkorange; text-decoration: none; font-weight: bold">
          <fa name="music" animation="spin"></fa>
          MusicHouse
          <fa name="music" animation="spin"></fa>
        </a>
      </div>

      <div class="col-12 col-md-8 mt-2" style="text-align: center">
        <p class="copywrite-text-1">
          Văn Phòng <a href="https://codegym.vn/"><i><b>CodeGym</b></i></a>
        </p>
        <p class="copywrite-text-1">
          Nhà số 23, TT-01, Khu đô thị MonCity – Đường, Hàm Nghi, Mỹ Đình 1, Nam Từ Liêm, Hà Nội
        </p>
        <p class="copywrite-text-1">
          Copyright &copy; 2019
          All rights reserved <i class="fa fa-heart-o" aria-hidden="true"></i> by Team BeerOm
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- ##### Footer Area Start ##### -->
