<div class="container">
<!--  <div class="card">-->
<!--    <app-carosel></app-carosel>-->
<!--  </div>-->
  <div class="card">
    <div class="card-body">
      <!--      NEW SONG-->
      <div class="col-md-4">
        <h3 routerLink="#">Song List <i class="fas fa-chevron-right fas-1g" style="font-size: 80%"></i></h3>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col"><i class="fas fa-bars"></i></th>
            <th scope="col" class="col-md-50">Name song</th>
            <th scope="col" class="col-md-10">Singer</th>
            <th scope="col" class="col-md-10">Avatar</th>
            <th scope="col" class="col-md-10">Audio</th>
<!--            <th scope="col" class="col-md-1">Delete</th>-->
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let song of songList">
            <th scope="row">{{ song.id }}</th>
            <td><a class="namesong" [routerLink]="['/song/play',song.id]">{{ song.nameSong }}</a></td>
            <td><a>{{ song.nameSinger }}</a></td>
            <td><a href="/"><img style="width: 100px;height: 100px" [src]=song.avatar></a></td>
            <td><audio controls>
              <source [src]=song.url>
            </audio></td>
<!--            <td>-->
<!--              <button class="btn btn-danger" (click)="deleteSong(song.id)">Xóa</button>-->
<!--            </td>-->

          </tr>
          </tbody>
        </table>
      </div>
      <br><br>
      <div class="row">

        <div class="col-lg-3 col-md-12 mb-lg-0 mb-3" *ngFor="let songs of bestChoiceSong">
          <div class="rounded mb-4 play portfolio-effect__item portfolio-item--eff1"
               style="width: 180px;height: 180px">
<!--            <a routerLink="/songs/{{songs.id}}"></a>-->
            <img class="img-fluid" [src]=songs.avatar >
            <div class="portfolio-item__info">
              <i class="fas fa-play-circle fa-3x"></i>
            </div>

          </div>
          <h4 class="font-weight-bold mb-3" style="font-size: 80%">
            <strong>name Song:sadasdasd</strong></h4>
          <p>Ca sỹ - <a class="font-weight-bold">Singer</a></p>
          <p>Thể loại - <a class="font-weight-bold">Category</a></p>
        </div>

      </div>
      <hr>
      <!--TOP SONG-->

      <div class="col-md-4">
        <h3 routerLink="#">Top Song <i class="fas fa-chevron-right fas-1g" style="font-size: 80%"></i></h3>
      </div>
      <br><br>
      <div class="row">
        <div class="col-lg-3 col-md-12 mb-lg-0 mb-3">
          <div routerLink="/song/play" class="rounded mb-4 play portfolio-effect__item portfolio-item--eff1 "
               style="width: 180px;height: 180px">
            <img class="img-fluid portfolio-item__image"
                 alt="">
            <div class="portfolio-item__info">
              <i class="fas fa-play-circle fa-3x"></i>
            </div>
          </div>
          <h4 routerLink="/song/play" class="font-weight-bold mb-3" style="font-size: 80%"><strong>name Song</strong></h4>
          <p>Ca sỹ:  <a class="font-weight-bold">Singer</a></p>
          <p>Lượt nghe:   <a class="font-weight-bold">listen Song</a></p>
        </div>
      </div>
      <hr>
      <!--LIKE SONG-->
      <div class="col-md-4">
        <h3 routerLink="#">Like Song <i class="fas fa-chevron-right fas-1g" style="font-size: 80%"></i></h3>
      </div>
      <br><br>
      <div class="row">
        <div class="col-lg-3 col-md-12 mb-lg-0 mb-3">
          <div routerLink="/song/play" class="rounded mb-4 play portfolio-effect__item portfolio-item--eff1 "
               style="width: 180px;height: 180px">
            <img class="img-fluid portfolio-item__image"
                 alt="">
            <div class="portfolio-item__info">
              <i class="fas fa-play-circle fa-3x"></i>
            </div>
          </div>
          <h4 routerLink="/song/play" class="font-weight-bold mb-3" style="font-size: 80%"><strong>like name song</strong></h4>
          <p>Ca sỹ:  <a class="font-weight-bold">like singer</a></p>
          <p>Lượt thích:  <a class="font-weight-bold">like likesong</a></p>
        </div>
      </div>
      <hr>
      <!--      SINGER-->
      <div class="col-md-4">
        <h3 routerLink="/singer/song">Singer <i class="fas fa-chevron-right fas-1g" style="font-size: 80%"></i></h3>
      </div>
      <br><br>
      <div class="row">
        <div class="col-md-3">
          <div class="ih-item circle effect3 left_to_right">
            <a routerLink="/singer/song">
              <div class="img"><img
                src="https://avatar-nct.nixcdn.com/singer/avatar/2018/06/27/e/8/8/5/1530074198530_600.jpg"
                alt="img"></div>
              <div class="info"><h3>Hà Anh Tuấn</h3>
                <p>Singer</p>
                <p>Birthday 17/12/1984</p>
              </div>
            </a>
          </div>
        </div>

        <div class="col-md-3">
          <div class="ih-item circle effect3 left_to_right">
            <a routerLink="/singer/song">
              <div class="img"><img
                src="https://kenh14cdn.com/thumb_w/620/2019/4/1/blackpink-ddu-du-dduu-du-15541345120991868257266.png"
                alt="img"></div>
              <div class="info"><h3>Black Pink</h3>
                <p>YG Entertainment</p>
                <p>Seoul, Hàn Quốc (2016)</p>
              </div>
            </a>
          </div>
        </div>

        <div class="col-md-3">
          <div class="ih-item circle effect3 left_to_right">
            <a routerLink="/singer/song">
              <div class="img"><img
                src="https://cdn.voh.com.vn/voh/Image/2018/12/20/434225737455109191357645636277370563330048n_20181220150837.jpg"
                alt="img"></div>
              <div class="info"><h3>Phương Ly</h3>
                <p>Singer</p>
                <p>Birthday 28/10/1990</p>
              </div>
            </a>
          </div>
        </div>

        <div class="col-md-3">
          <div class="ih-item circle effect3 left_to_right">
            <a routerLink="/singer/song">
              <div class="img"><img
                src="https://3.bp.blogspot.com/-2v_EkxEGzos/WKEKNhZvMmI/AAAAAAAAlOs/0Zz4gKvK5Mo9onS0Qrx3nPw2mRc8MZUkACLcB/s1600/HAN%2BSARA%2BT%25E1%25BB%25AA%2BHOTGIRL%2BV%25C3%2580O%2BV%25C3%2592NG%2BGI%25E1%25BA%25A4U%2BM%25E1%25BA%25B6T%2BGI%25E1%25BB%258CNG%2BH%25C3%2581T%2BVI%25E1%25BB%2586T%2B2017%2B%25282%2529.jpg"
                alt="img"></div>
              <div class="info"><h3>Han Sara</h3>
                <p>Singer, Idol</p>
                <p>Birthday 17/11/2000</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<app-footer></app-footer>
