<div class="top">
  <h2>Thêm bài hát</h2>
</div>
<div class="container">
  <div class="container-fluid row">
    <div class="col-3">
      <div class="card-header">
        <h4>Menu</h4>
      </div>
      <div class="dropdown-divider"></div>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-success">My Playlist</a>
        <a href="#" class="list-group-item list-group-item-success">Danh sách bài hát</a>
        <div class="dropdown-divider"></div>
        <a routerLink="create-song" class="list-group-item list-group-item-warning">Create Song</a>
      </div>
    </div>
    <div class="col-5" style="margin-bottom: 10px">
      <form (ngSubmit)="createSong()" [formGroup]="songForm">
        <div class="form-group">
          <label>Song Name: </label>
          <input type="text" class="form-control" [(ngModel)]="song.nameSong" formControlName="nameSong"
                 placeholder="Enter song name">
        </div>
        <div class="form-group">
          <label>Singer Name: </label>
          <input type="text" class="form-control" [(ngModel)]="song.nameSinger" formControlName="nameSinger"
                 placeholder="Enter song name">
        </div>

        <div class="form-group">
          <label>Description: </label>
          <textarea class="form-control" [(ngModel)]="song.describes" formControlName="describes"
                    placeholder="Enter description"></textarea>
        </div>
        <div style="margin-bottom: 20px">
          <button type="submit" class="btn btn-primary">Thêm Bài Hát</button>
        </div>
      </form>
    </div>
    <div class="col-4" style="margin-bottom: 10px">
      <app-upload-file (giveURLtoCreate)="onChange($event)"></app-upload-file>
      <app-upload-avatar (giveURLtoCreate)="onAvatar($event)"></app-upload-avatar>
    </div>
  </div>
</div>

<app-footer></app-footer>
