

<div class="container-fluid shadow">
  <ul class="breadcrumb shadow">
    <li class="breadcrumb-item"><a [routerLink]="['']">Trang chủ</a></li>
  </ul>
  <div class="row">
    <div class="col-sm-8 ">
      <div class="container shadow">
<!--        <p class="font-weight-bold " style="font-size: 20px">{{song.nameSong}}</p>-->
        <p class="font-weight-bold ">
          <img src="assets/icon/address.png" width="20" height="20">
        </p>
        <p class="font-weight-bold ">
          <img src="assets/icon/house.png" width="20" height="20">
        </p>
<!--        <p class="overflow-auto">{{song.describes}}</p>-->
      </div>
    </div>
  </div>
</div>

