<div class="top">
  <h2>Danh sách Playlist</h2>
</div>
<div class="container">
  <div class="container-fluid row">
    <div class="col-3">
      <div class="card-header">
        <h4>Danh Mục</h4>
      </div>
      <div class="dropdown-divider"></div>
      <div class="list-group">
        <a href="list-song" class="list-group-item list-group-item-success">
          <i class="fas fa-list"></i> Danh sách bài hát
        </a>
        <a href="list-playlist" class="list-group-item list-group-item-success">
          <i class="fas fa-list"></i> Danh sách Playlist
        </a>
        <div class="dropdown-divider"></div>
        <a href="create-song" class="list-group-item list-group-item-warning">
          <i class="far fa-plus-square"></i> Tạo bài hát mới
        </a>
        <a href="create-playlist" class="list-group-item list-group-item-warning">
          <i class="far fa-plus-square"></i> Tạo playlist mới
        </a>
      </div>
    </div>
    <div class="col-9" style="margin-bottom: 10px">
      <!-- Default input -->
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col-2"><i class="fas fa-list"></i></th>
          <th scope="col-8" class="col-md-8">Name Playlist</th>
          <th scope="col-2" class="col-md-2">Feature</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>1</th>
          <td>
            name
          </td>
          <td>
            <a routerLink="#"><i class="fas fa-trash-alt"></i></a>
          </td>
        </tr>
        <tr>
          <th>2</th>
          <td>
            name 2
          </td>
          <td>
            <a routerLink="#"><i class="fas fa-trash-alt"></i></a>
          </td>
        </tr>
        <tr>
          <th>3</th>
          <td>
            name 3
          </td>
          <td>
            <a routerLink="#"><i class="fas fa-trash-alt"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-footer></app-footer>
<div class="container">
  <div class="row">

  </div>
</div>

