<app-title-page [content]="title"></app-title-page>
<div class="container">
  <div class="container-fluid row">
    <div class="col-3">
      <app-menu-left></app-menu-left>
    </div>
    <div class="col-9" style="margin-bottom: 10px">
      <p>You can see <code>Danh sách Playlist</code>, listen to music and edit or delete playlist.</p>
      <!-- Default input -->
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col" class="col-md-2"><i class="fas fa-list"></i></th>
          <th scope="col" class="col-md-8">Name Playlist</th>
          <th scope="col" class="col-md-2">Feature</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let playlist of playlistInfors">
          <th scope="row">{{ playlist.id }}</th>

          <td><a class="namesong" [routerLink]="['/my-playlist/:id',playlist.id]">{{ playlist.playlistName }}</a></td>
          <td>
            <button class="btn btn-danger" (click)="editSong(playlist.id)">Sửa</button>
            <button class="btn btn-danger" (click)="deleteSong(playlist.id)">Xóa</button>
          </td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-footer></app-footer>

