.top {
  margin-top: 90px;
  margin-bottom: 20px;
  background-color: #1a4a72;
  color: white;
  border-radius: 15px;
  text-align: center
}

p {
  font-size: 14px;
  text-align: justify;
}

.map-area {
  position: relative;
  z-index: 2;
}

.map-area iframe {
  width: 100%;
  height: 385px;
  border: none;
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .map-area iframe {
    height: 300px;
  }
}

