<div class="top">
  <h2>Liên Hệ</h2>
</div>
<div class="container">
  <div class="container-fluid row">
    <div class="col-4">
      <div class="card-header mb-3">
        <h4>Thông Tin Liên Hệ</h4>
      </div>
      <div class="dropdown-divider mb-2"></div>
      <div class="card-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-2">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <div class="col-10">
              <p>
                Văn Phòng CodeGym – Nhà số 23, TT-01, Khu đô thị MonCity – Đường,
                Hàm Nghi, Mỹ Đình 1, Nam Từ Liêm, Hà Nội</p>
            </div>
            <div class="col-2">
              <i class="fa fa-mobile-phone" aria-hidden="true"></i>
            </div>
            <div class="col-10">
              <p>
                +84 24 6253 8829</p>
            </div>
            <div class="col-2">
              <i class="fa fa-info" aria-hidden="true"></i>
            </div>
            <div class="col-10">
              <p>
                info@codegym.vn</p>
            </div>

            <div class="dropdown-divider mb-2"></div>

            <div class="card-footer row">
              <div class="col-2">
                <i class="fa fa-youtube-play"></i>
              </div>
              <div class="col-2">
                <i class="fa fa-google"></i>
              </div>
              <div class="col-2">
                <i class="fa fa-instagram"></i>
              </div>
              <div class="col-2">
                <i class="fa fa-twitch"></i>
              </div>
              <div class="col-2">
                <i class="fa fa-tumblr"></i>
              </div>
              <div class="col-2">
                <i class="fa fa-twitter"></i>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-8" style="margin-bottom: 10px">
      <div class="map-area">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.9265632499078!2d105.7661214498778!3d21.035624192852563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe713200541b7456d!2sCodeGym!5e0!3m2!1svi!2s!4v1567013752462!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
