//html,
//body,
.view {
  height: 100%; }

#mobile-box {
  width: 360px; }

.gradient-card {
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(220, 66, 37, 0.5)), color-stop(100%, rgba(0, 47, 75, 0.5)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 47, 75, 0.5)), to(rgba(220, 66, 37, 0.5)));
  background: linear-gradient(to bottom, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002f4b', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */ }

.card {
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.card .view {
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px; }

.card h5 a {
  color: #0d47a1;
}
.card h5 a:hover {
  color: #072f6b;
}

#pButton {
  float: left; }

#timeline {
  width: 90%;
  height: 2px;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.3); }

#pButton {
  margin-top: 12px;
  cursor: pointer; }

#playhead {
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-top: -3px;
  background: black;
  cursor: pointer; }

.namesong {
  margin-top: 80px;
  font-size: 10px;
  text-align: center;
}
.header-song {
  margin-top: 10px;
/* Start  styling the page */
.container-audio {
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #eee;
  color: #444;
  margin: 20px auto;
  overflow: hidden;
}
audio {
  width:100%;
}
audio:nth-child(2), audio:nth-child(4), audio:nth-child(6) {
  margin: 0;
}
.container-audio .colum1 {
  width: 23px;
  height: 5em;
  border-radius: 5px;
  margin: 0 10px 0 0;
  display: inline-block;
  position: relative;
}
.container-audio .colum1:last-child {
  margin: 0;
}
.container-audio .colum1 .row {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(up to, #7700aa, #8800ff);
  position: absolute;
  -webkit-animation: Rofa 10s infinite ease-in-out;
  animation: Rofa 10s infinite ease-in-out;
  bottom: 0;
}
.container-audio .colum1:nth-of-type(1) .row {
  -webkit-animation-delay: 3.99s;
  animation-delay: 3.99s;
}
.container-audio .colum1:nth-of-type(2) .row {
  -webkit-animation-delay: 3.80s;
  animation-delay: 3.80s;
}
.container-audio .colum1:nth-of-type(3) .row {
  -webkit-animation-delay: 3.70s;
  animation-delay: 3.70s;
}
.container-audio .colum1:nth-of-type(4) .row {
  -webkit-animation-delay: 3.60s;
  animation-delay: 3.60s;
}
.container-audio .colum1:nth-of-type(5) .row {
  -webkit-animation-delay: 3.50s;
  animation-delay: 3.50s;
}
.container-audio .colum1:nth-of-type(6) .row {
  -webkit-animation-delay: 3.40s;
  animation-delay: 3.40s;
}
.container-audio .colum1:nth-of-type(7) .row {
  -webkit-animation-delay: 3.30s;
  animation-delay: 3.30s;
}
.container-audio .colum1:nth-of-type(8) .row {
  -webkit-animation-delay: 3.20s;
  animation-delay: 3.20s;
}
.container-audio .colum1:nth-of-type(9) .row {
  -webkit-animation-delay: 3.10s;
  animation-delay: 3.10s;
}
.container-audio .colum1:nth-of-type(10) .row {
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}
.container-audio .colum1:nth-of-type(11) .row {
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}
.container-audio .colum1:nth-of-type(12) .row {
  -webkit-animation-delay: 2.10s;
  animation-delay: 2.10s;
}
.container-audio .colum1:nth-of-type(13) .row {
  -webkit-animation-delay: 2.20s;
  animation-delay: 2.20s;
}
.container-audio .colum1:nth-of-type(14) .row {
  -webkit-animation-delay: 1.30s;
  animation-delay: 1.30s;
}
.container-audio .colum1:nth-of-type(15) .row {
  -webkit-animation-delay: 1.40s;
  animation-delay: 1.40s;
}
.container-audio .colum1:nth-of-type(16) .row {
  -webkit-animation-delay: 1.50s;
  animation-delay: 1.50s;
}
.container-audio .colum1:nth-of-type(17) .row {
  -webkit-animation-delay: 1.60s;
  animation-delay: 1.60s;
}
.container-audio .colum1:nth-of-type(18) .row {
  -webkit-animation-delay: 1.70s;
  animation-delay: 1.70s;
}
.container-audio .colum1:nth-of-type(19) .row {
  -webkit-animation-delay: 1.80s;
  animation-delay: 1.80s;
}
.container-audio .colum1:nth-of-type(20) .row {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.container-audio .colum1:nth-of-type(21) .row {
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.1s;
}
.container-audio .colum1:nth-of-type(22) .row {
  -webkit-animation-delay: 1.9s;
  animation-delay: 1.4s;
}
.container-audio .colum1:nth-of-type(23) .row {
  -webkit-animation-delay: 2.2s;
  animation-delay: 1.7s;
}
.container-audio .colum1:nth-of-type(24) .row {
  -webkit-animation-delay: 1.9s;
  animation-delay: 2s;
}
.container-audio .colum1:nth-of-type(25) .row {
  -webkit-animation-delay: 1.9s;
  animation-delay: 1.8s;
}
.container-audio .colum1:nth-of-type(26) .row {
  -webkit-animation-delay: 1.9s;
  animation-delay: 2s;
}

@-webkit-keyframes Rofa {
  0% {
    height: 0%;
    -webkit-transform: translatey(0);
    transform: translatey(0);
    background-color: yellow;
  }

  5% {
    height: 100%;
    -webkit-transform: translatey(15px);
    transform: translatey(15px);
    background-color: fuchsia;
  }
  10% {
    height: 90%;
    transform: translatey(0);
    -webkit-transform: translatey(0);
    background-color: bisque;
  }

  15% {
    height: 80%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  20% {
    height: 70%;
    -webkit-transform: translatey(0);
    transform: translatey(0);
    background-color: cornflowerblue;
  }
  25% {
    height: 0%;
    -webkit-transform: translatey(0);
    transform: translatey(0);
    background-color: cornflowerblue;
  }
  30% {
    height: 70%;
    -webkit-transform: translatey(0);
    transform: translatey(0);
    background-color: cornflowerblue;
  }
  35% {
    height: 0%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  40% {
    height: 60%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  45% {
    height: 0%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  50% {
    height: 50%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  55% {
    height: 0%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  60% {
    height: 40%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  65% {
    height: 0%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  70% {
    height: 30%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  75% {
    height: 0%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  80% {
    height: 20%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  85% {
    height: 0%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  90% {
    height: 10%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  95% {
    height: 5%;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
  100% {
    height: 0;
    -webkit-transform: translatey(0);
    transform: translatey(0);

    background-color: cornflowerblue;
  }
}
